<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Izmena izborne grupe</title>
    </head>
    <body>
        <form action="{% url 'save_izmena_izborne_grupe' %}" method="post">
            {% csrf_token %}
            <label>Oznaka grupe</label><br>
            <input name="oznaka_grupe" value='{{ grupa.oznaka_grupe }}' readonly/><br>
            <label>Kapacitet</label><br>
            <input name="kapacitet" value='{{ grupa.kapacitet }}'/><br>
            <label>Aktivna</label>
            {% if grupa.aktivna == True %}
                <input type="checkbox" name="aktivna" checked="checked"><br>
            {% else %}
                <input type="checkbox" name="aktivna"><br>
            {% endif %}
            <br><br>
            <input type="submit" value="Snimi">
        </form>
    </body>
</html>